@page
@model TGL.WebApp.Pages.Students.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<nav>
    <div class="nav-wrapper bg-dark">
        <a class="brand-logo center">Students</a>
    </div>
</nav>

<br /> <!-- PARA DARLE ESPACIO -->
<form method="post">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id:         </th>
                <th>Name:       </th>
                <th>LastName:   </th>
                <th>Nit:        </th>
                <th>Age:        </th>
                <th colspan="2"> <center>Options: </center> </th>

            </tr>

        <thead>
        <tbody>
            @foreach (var item in Model.Students)  // foreach , recorre objetos (lista en este caso) sin tener que delimitarla con i
            {
                <tr>
                    <td>@item.Id        </td>
                    <td>@item.Name      </td>
                    <td>@item.LastName  </td>
                    <td>@item.Nit       </td>
                    <td>@item.Age       </td>
                    <td>
                        <a class="btn btn-outline-success"
                           asp-page="Edit"
                           asp-route-id="@item.Id">
                            Edit
                        </a>
                    </td>
                    <td>
                        <button type="submit"
                                class="btn btn-outline-danger"
                                asp-page-handler="delete"
                                asp-route-id="@item.Id">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<a asp-page="Add" class="btn btn-info"> Create new student </a>

