@page
@model TGL.WebApp.Pages.Students.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<nav>
	<div class="nav-wrapper bg-light text-dark">
		<a class="brand-logo center">Students</a>
	</div>
</nav>
<br />
<!-- y finaliza por -->
<form method="post">
	<table class="table">
		<thead class="thead-light text-dark">
			<tr>
				<th scope="col">ID          </th>
				<th scope="col">Name           </th>
				<th scope="col">Last Name  </th>
				<th scope="col">Age           </th>
				<th scope="col">Nit            </th>
				<th scope="col">Computers            </th>
				<th scope="col" colspan="3"><center>Acciones</center></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var student in Model.Students)
			{
				<tr>
					<td>@student.Id         </td>
					<td>@student.Name       </td>
					<td>@student.LastName       </td>
					<td>@student.Age        </td>
					<td>@student.Nit        </td>
					<td>
						@foreach (var computer in @student.Computers)
						{
							<table>
								<tr>
									<td>@computer.Brand ,  </td>
									<td>@computer.Model ,  </td>
									<td>@computer.Cpu  </td>
								</tr>
							</table>
						}

					</td>
					<td>
						<a role="button" class="btn btn-outline-primary"
						   asp-page="Edit"
						   asp-route-id="@student.Id"> Edit</a>
					</td>
					<td>
						<button class="btn btn-outline-danger" type="submit"
								asp-page-handler="delete"
								asp-route-id="@student.Id">
							Delete
						</button>
					</td>
					<td>
						<a role="button" class="btn btn-outline-primary"
						   asp-page="../Computers/Index"
						   asp-route-studentid="@student.Id"><i class="material-icons">computer</i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-page="Add" role="button" class="btn btn-outline-success"> Create new student</a>
</form>

